<div id="container">

<div class="profile_image">
<%= image_tag ("icon-user-default.png"), width: 300, height: 300, alt: 'a face' %>
</div>

<div class="profile_form">
<%= simple_form_for @profile do |f| %>
  <%= f.input :name, input_html: { class: 'special' } %>
  <%= f.input :address, input_html: { maxlength: 20 } %>
  <%= f.button :submit %>
<% end %>
</div>

<div>
<%= link_to "<button>View Profile</button>".html_safe, profile_path, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
</div>




</div>
