<h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p>





<% if user_signed_in? %>

<%= link_to "sign out", destroy_user_session_path, method: "delete", class: "btn" %>

<%= link_to "my_profile", profile_path(current_user), class: "btn" %>
<% end %>


<div class="banner-home" style="background-image: url('http://wallpapercave.com/wp/mf94PuR.jpg');">

  <div class="banner-content">
    <h1 class="text-center">Two wheels, one ride</h1>

    <div class="wrapper-form">


      <form action="#" class="form-inline text-center form">
        <input type="text" class="form-control input-lg" placeholder="City">
        <input type="date" class="form-control input-lg" placeholder="check in">
        <input type="date" class="form-control input-lg" placeholder="check out">
        <select class="form-control input-lg" placeholder="Type">
          <option value="1">Type</option>
          <option value="2">Scooter</option>
          <option value="3">Motorcycle</option>
          <option value="4">Moped</option>
        </select>
        <input type="submit" class="btn btn-success btn-lg" value="Search">
      </form>
    </div>


  </div>
</div>


<h1 class="text-center">What's your type?</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://pierreisnard.fr/wp-content/uploads/Solex-Play-5.jpg');">
        <div class="card-category">Moped</div>
        <div class="card-description">
          <h2>Simple Fun</h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.objectif-moto.com/wp-content/uploads/2015/11/yamaha-eicma-tmax-lux-max.jpg');">
        <div class="card-category">Urban</div>
        <div class="card-description">
          <h2>Clever</h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://o.aolcdn.com/hss/storage/adam/3dae6cd2c6dee72b5576b7521ae9f922/lead12-2014-ducati-monster-1200-s-fr.jpg');">
        <div class="card-category">Sport</div>
        <div class="card-description">
          <h2>Purist</h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 card-margin">
      <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.wallpapersbyte.com/wp-content/uploads/2015/09/Piaggio-Vespa-Scooter-Road-Italy-Rome-Rear-View-Street-WallpapersByte-com-3840x2400.jpg');">
        <div class="card-category">Old School</div>
        <div class="card-description">
          <h2>Lover</h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 card-margin">
      <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://49.media.tumblr.com/dce37f918f38dd4576622f058e5cf77e/tumblr_nylys9BNIr1qjnl39o1_500.gif');">
        <div class="card-category">Chopper</div>
        <div class="card-description">
          <h2>Loubard</h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-4 text-center ">
      <%= image_tag "http://cdn.quotationof.com/images/steve-mcqueen-quotes-1.jpg", class: "img-grid" %>
      <h2>Be cool</h2>
      <p>Keep it Real</p>
    </div>

    <div class="col-xs-12 col-md-4 text-center ">
      <%= image_tag "https://www.healthybodydental.com/wp-content/uploads/2015/02/Clearwater-Dentist-Patient-Forms-Icon-240x300.png", class: "img-grid" %>
      <h2>Be smart</h2>
      <p>Choose the insurance wich fit you</p>
    </div>

    <div class="col-xs-12 col-md-4 text-center ">
      <%= image_tag "logo_helmet.png", class: "img-grid" %>
      <h2>Be a Man</h2>
      <p>Wear a helmet</p>
    </div>

  </div>
</div>

<h1 class="text-center">Lifestyle</h1>

<div class="banner-lifestyle home" style="background-image: url('http://farm3.static.flickr.com/2534/4180792373_b2f7521be3_o.jpg');">

  <div class="banner-lifestyle-content">
    <h1 class="text-left">Rider</h1>
    <p>Four wheels may get you there but two will make the journey memorable</p>
  </div>
  <a class="card-link" href="#" ></a>

</div>
