




<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://openwalls.com/image/16341/can_am_spyder_on_a_mountain_road_1920x1080.jpg');">
  <div class="banner-content">
    <h1>RIDE ON</h1>
    <p>Pick a ride, go anywhere</p>
     <div class="wrapper-form">

      <form action="#" class="form-inline text-center form">
        <input type="text" class="form-control input-md" placeholder="City">
        <input type="date" class="form-control input-md" placeholder="check in">
        <input type="date" class="form-control input-md" placeholder="check out">
        <select class="form-control input-md" placeholder="Type">
          <option value="1">Type</option>
          <option value="2">Scooter</option>
          <option value="3">Motorcycle</option>
          <option value="4">Moped</option>
        </select>
        <input type="submit" class="btn btn-info btn-md" value="Search">
      </form>
      <br><br>
      <a class="btn btn-primary btn-lg">How to use</a>

    </div>
  </div>
</div>




<div class="container container-local">
  <div class="row">
    <% @bikes.each do |bike| %>
    <div class="col-sm-6 col-md-4">


      <div class="card" style="background-image: url('<%= image_url bike.bike_image %>'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">

        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= bike.make %></h2>
          <p><%= bike.model %>  -  <%= bike.rate_daily %></p>
        </div>

      </div>

    </div>
    <% end %>
  </div>
</div>


<% if user_signed_in? %>

<%= link_to "sign out", destroy_user_session_path, method: "delete", class: "btn" %>

<%= link_to "my_profile", profile_path(current_user), class: "btn" %>
<% end %>


<%= render 'shared/footer' %>

