<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://openwalls.com/image/16341/can_am_spyder_on_a_mountain_road_1920x1080.jpg');">
  <div class="banner-content">
    <h1>RIDE ON</h1>
    <p>Pick a ride, go anywhere</p>
     <div class="wrapper-form">


      <%= form_tag search_path(Booking.new),method: :get, class:"form-inline text-center form"  do %>
        <%= select_tag :location_id, options_from_collection_for_select(@locations, :id, :city ), class:"form-control input-md" %>
        <%= date_field_tag 'start_date', nil, class:"form-control input-md"%>
        <%= date_field_tag 'end_date', nil, class:"form-control input-md" %>
        <%= submit_tag "Search", class:"btn btn-primary btn-lg" %>
      <% end %>





       <!--  <input type="date" class="form-control input-md" placeholder="check in">
        <input type="date" class="form-control input-md" placeholder="check out">
        <select class="form-control input-md" placeholder="Type">
          <option value="1">Type</option>
          <option value="2">Scooter</option>
          <option value="3">Motorcycle</option>
          <option value="4">Moped</option>
        </select> -->
        <!-- <input type="submit" class="btn btn-info btn-md" value="Search"> -->

      </form>
      <br><br>

    </div>
  </div>
</div>




<div class="container container-local">
  <div class="row">
    <% @locations.each do |location| %>
    <div class="col-sm-6 col-md-4">

      <%= link_to location_path(location) do %>
      <div class="card" style="background-image: url('<%= image_url location.image %>'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">

        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= location.city %></h2>
        </div>

      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div id="how-to">
  <div class="banner banner-a" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.motowallpapers.com/custom/i/icon/2012-the-roach-1986-harley-davidson-sportster/Icon-The-Roach-2012-Harley-Davidson-Sportster-1986-1920x1080-003.jpg');">
    <div class="text-center">
      <h1>How it works</h1>
      <p>In just 3 steps, find the trip of your dreams</p>
      <div class="row">
        <div class="col-md-4">
          <h1><i class="fa fa-plane"></i></h1>
          <h2>Decide</h2>
          <p>Where you wanna ride around</p>
        </div>
        <div class="col-md-4">
          <h1><i class="fa fa-calendar"></i></h1>
          <h2>Choose</h2>
          <p>The bike of your dreams</p>
        </div>
        <div class="col-md-4">
          <h1><i class="fa fa-group"></i></h1>
          <h2>Explore</h2>
          <p>Every crevice without limitations</p>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="wrapper text-center">
  <h2>LASTEST BIKES LISTED</h2>
  <div class="container container-local">
    <div class="row">
      <% @bikes.each do |bike| %>
      <div class="col-sm-6 col-md-4">

        <%= link_to location_bike_path(bike, bike.location) do %>
        <div class="card" style="background-image: url('<%= image_url bike.bike_image %>'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">

          <div class="card-category">bike.make</div>
          <div class="card-description">
            <h2><%= bike.model %></h2>
          </div>

        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>



<%= render 'shared/footer' %>

