<h1 class='text-center'> <%= @location.city%></h1>
<br>
<br>


<div class="text-center">
  <%= link_to t(".top_call_to_action", default: "List your bike"), new_location_bike_path(@location), class: "navbar-wagon-item btn-treehouse" %>


</div>


<br>
<br>
<br>

<div class= "container-bottom-padding">
  <div class="container-local">
    <div class="row">

      <div class="bike-cards scrollable">
      <div class="col-xs-12 col-sm-6">
        <% @location.bikes.each do |bike| %>
        <div class="col-xs-12 card-padding">

          <%= link_to location_bike_path(@location, bike) do %>
          <div class="card" style="background-image: url('<%= image_url bike.bike_image %>'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">

            <div class="card-category"><h3><%= bike.make %></h3></div>
            <div class="card-description">
              <p><%= bike.model %></p>
            </div>

          </div>
          <% end %>
        </div>
        <% end %>
      </div>
      </div>


      <div class="bike-maps">
      <div class="col-xs-12 col-sm-6">
        <div id="map" style="width: 90%; height: 600px; zoom: 1"></div>
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).on('ready', function() {
              handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){
                markers = handler.addMarkers(<%= raw @markers.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
              });
            })
          <% end %>
        <% end %>
      </div>
      </div>

    </div>
  </div>
</div>


